import PositionSizer from '../components/PositionSizer.svelte';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRADE90 Position Sizer</title>
  </head>
  <body>
    <PositionSizer client:load />
  </body>
</html>
